<raw>
  <script>
    export default {
      onMounted() {
          this.root.innerHTML = this.props.raw;
      },
      onUpdated() {
          this.root.innerHTML = this.props.raw;
      }
    }
  </script>
</raw>
