<anvil-projects>
    <h2>Load existing or create new OpenOdin project from sample</h2>

    <button type="button"
        onclick={load}
        class="px-4 border shadow cursor-pointer rounded bg-gray-300 hover:bg-gray-400">Load sample project</button>

    <script>
        import "./anvil-projects.css";
        import {AnvilProjects} from "./AnvilProjects";

        return new AnvilProjects();
    </script>
</anvil-projects>
